/*
* Réalisé par Thomas LOYE pour le compte du BRGM en 2025
* www.thomasloye.fr
*/


/* =====================================================================================================================
   BASE & VARIABLES
   ===================================================================================================================== */
:root {
    /* Couleurs principales BRGM */
    --orangeBRGM: #e87b1c;
    --jauneBRGM: #ffc83d;
    --bleuBRGM: #27B1EA;
    --rouilleBRGM: #F05A08;
    --vertBRGM: #9FC512;
    --roseBRGM: #CE65A5;
    --bleuGrisBRGM: #83AFB5;

    /* Nuances de gris */
    --grisBRGM: #333;
    --grisClair: #434343;
    --grisLeger: #878787;
    --grisFin: #B4B4B4;
    --blancFonce: #e8e8e8;
}

/* =====================================================================================================================
   GÉNÉRAL
   ===================================================================================================================== */
html {
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
}

body {
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}


/* =====================================================================================================================
   UTILITAIRES COULEURS
   ===================================================================================================================== */
.orange {
    color: var(--orangeBRGM);
}

.background-orange {
    background-color: var(--orangeBRGM);
}

.texte-gris-simple {
    font-size: 1.5em;
    color: #737373;
}

/* =====================================================================================================================
   TYPOGRAPHIE
   ===================================================================================================================== */
.grandTitre {
    font-size: 2em;
    font-family: 'gibson-bold', sans-serif;
}

h1, h2, h3 {
    font-family: 'gibson-semibold', sans-serif;
}

h4, h5, h6, p {
    font-family: 'Roboto-Regular', sans-serif;
}

.italic {
    font-family: 'Roboto-Italic', sans-serif;
}

/* =====================================================================================================================
   CONTENU DES PAGES
   ===================================================================================================================== */

#contenu {
    padding-top: 80px;
    min-height: calc(100vh - 80px);
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
}

/* =====================================================================================================================
   BOUTONS
   ===================================================================================================================== */
.bouton {
    font-family: 'Gibson-Semi-Bold', sans-serif;
    font-weight: bold;
    font-size: 1em;
    box-sizing: initial;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: box-shadow 0.3s ease;
    user-select: none;
    text-decoration: none;
    color: inherit;
}

.bouton .disabled {
    opacity: 0.5;
    cursor: initial;
}

.boutonClair {
    text-decoration: none;
    border: 5px solid transparent;
    box-shadow: 0 0 0 1px black;
    color: black;
}

.boutonFonce {
    text-decoration: none;
    border: 5px solid var(--orangeBRGM);
    background-color: var(--orangeBRGM);
    color: white;
    padding: 5px 15px;
}

.boutonClair:not(.disabled):hover, .boutonClair.active {
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
}

.boutonFonce:hover, .boutonFonce.active {
    cursor: pointer;
    box-shadow: inset 0 0 0 1px white;
}

.animated-link {
    color: white;
    display: flex;
    gap: 15px;
    padding: 0 45px 0 0;
    position: relative;
    width: fit-content;
    text-decoration: none;
    font-weight: normal;

    img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: right 0.3s ease;
        height: 30px;
    }

    &:hover {
        img {
            right: 0;
        }
    }
}

select {
    font-family: 'Gibson-Semi-Bold', sans-serif;
    font-size: 1.1em;
    min-height: 25px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: box-shadow 0.3s ease;
    user-select: none;
    text-decoration: none;
    color: white;
    background-color: var(--orangeBRGM);
}

/* =====================================================================================================================
   POPUPS
   ===================================================================================================================== */
.layer {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    width: 420px;
    height: fit-content;
    overflow: hidden;
    color: var(--grisBRGM);
    user-select: none;

    .header {
        width: 100%;
        background: #FFDBBB;
        font-size: 0.8em;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;

        img {
            width: 25px;
            height: 25px;
            cursor: pointer;
            padding: 5px;
            border-radius: 15px;
            transition: all 0.3s ease;
            background: #ffffff;

            &:hover {
                background: var(--grisFin);
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 10px 20px 30px 20px;
        width: 100%;
        height: 100%;
        text-align: center;

        img {
            width: 120px;
        }

        h2 {
            font-size: 1.2em;
            margin: 0;
        }

        .texte-gris-simple {
            font-size: 1em;
        }

        .bouton {
            background: var(--orangeBRGM);
            color: white;
            padding: 10px 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            border: 2px solid transparent;

            &:hover {
                background: transparent;
                color: var(--grisBRGM);
                border-color: var(--grisBRGM);
            }
        }
    }
}

/* =====================================================================================================================
   BANNIERES
   ===================================================================================================================== */
.bannierePage {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .contenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        padding-top: 50px;
        padding-left: 50px;

        .auteur {
            color: var(--orangeBRGM);
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 80%;

            img {
                width: 30px;
                height: 30px;
                flex-shrink: 0;
            }

            h3 {
                padding-left: 20px;
                font-weight: normal;
            }
        }

        h1 {
            font-size: 3.5em;
            font-family: 'Gibson-Semi-Bold', sans-serif;
        }

        h2 {
            font-size: 2.5em;
            font-family: 'Gibson-Semi-Bold', sans-serif;
            line-height: 1.6em;
            width: 70%;
        }

        h3 {
            width: 70%;
            color: var(--orangeBRGM);
        }

        p > span {
            position: relative;
            cursor: pointer;
            user-select: none;

            span {
                width: 0;
                border: 1px solid var(--orangeBRGM);
                position: absolute;
                bottom: -5px;
                left: 0;
                transition: width .3s ease;
                border-radius: 3px;
            }

            &:hover {
                span {
                    width: 100%;
                }
            }
        }
    }
}


/* =====================================================================================================================
   RESPONSIVE
   ===================================================================================================================== */

@media (max-width: 450px) {
    .popup {
        width: 95%;
        height: fit-content;
    }
}
