.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--grisBRGM);
    border-radius: 15px;
    padding: 0 0 28px 0;
    width: 370px;
    overflow: hidden;
    height: 100%;
    position: relative;
    flex-shrink: 0;

    .page {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        gap: 17px;
        padding: 48px 12px 0 12px;
    }

    .commonWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 17px;
    }


    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 7px 15px;
        background-color: #171717;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;

        .text {
            font-size: 0.9em;
            font-weight: 550;
            color: white;
        }


        span:not(.text, .color) {
            display: flex;
            gap: 6px;

            .color {
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }

            .color:nth-child(1) {
                background-color: var(--vertBRGM);
            }

            .color:nth-child(2) {
                background-color: var(--jauneBRGM);
            }

            .color:nth-child(3) {
                background-color: var(--rouilleBRGM);
            }
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: #D9D9D9;
        color: black;
        font-family: "Consolas", "sans-serif";
        border-radius: 10px;
        width: 100%;
        padding: 8px;
        font-size: 0.9em;
        gap: 12px;

        .bouton {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            background-color: var(--orangeBRGM);
            color: white;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3s ease;
            padding: 5px 20px;
            font-size: 1em;
            margin: 0 auto;
            font-weight: normal;
            min-width: 100px;

            &:hover {
                background-color: var(--grisBRGM);
            }
        }

        .bouton.disabled {
            cursor: initial;
            opacity: 0.5;
            pointer-events: none;

            &:hover {
                background-color: var(--orangeBRGM);
            }
        }

        .icone, table {
            margin: 0 auto;
        }

        table {
            width: fit-content;
            border-collapse: collapse;
            border-radius: 8px;

            th, td {
                padding: 2px 5px;
                text-align: center;
                border: 1px solid var(--grisBRGM);
            }

            th {
                background-color: var(--orangeBRGM);
                color: white;
            }

            tr:nth-child(odd) {
                background-color: var(--grisBRGM);
                color: white;
            }
        }

        .spacer {
            display: block;
            height: 8px;
        }

        .icone {
            width: 50px;
        }

        select {
            width: fit-content;
            background-color: #D9D9D9;
            padding: 5px 10px;
            color: var(--grisBRGM);
            border: 1px solid var(--grisBRGM);
            font-size: 0.9em;
            font-family: "Consolas", "sans-serif";
            font-weight: 600;
            height: fit-content;

            option {
                background-color: #D9D9D9;
                color: black;
                font-family: "Consolas", "sans-serif";
                font-weight: 600;
                text-align: left;
                border-radius: 0;
            }

            option:disabled {
                color: var(--grisBRGM);
            }
        }

        .range {
            margin: 0 auto;
        }

        .range input {
            -webkit-appearance: none;
            width: 200px;
            height: 4px;
            border-radius: 5px;
            background-color: var(--orangeBRGM);
            outline: none;
        }

        .range input::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--rouilleBRGM);
            cursor: pointer;
        }

        .range span {
            position: absolute;
            margin-left: 14px;
            width: 50px;
            height: 30px;
            background-color: #222;
            color: #fff;
            border-radius: 3px;
            text-align: center;
            line-height: 30px;
        }

        .range span:before {
            content: '';
            position: absolute;
            border-right: 9px solid transparent;
            border-left: 9px solid transparent;
            border-bottom: 12px solid #222;
            left: -10px;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
        }

        .checkboxes {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            margin: 0 auto;

            .checkNbLabel {
                border: 2px solid var(--orangeBRGM);

                .checkNb {
                    border: 1px solid var(--orangeBRGM);
                }

                .checkNb:checked {
                    background-color: var(--orangeBRGM);
                }
            }

            label {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                justify-content: flex-start;
                gap: 15px;
                font-size: 0.8em;
                cursor: pointer;
                background-color: var(--grisBRGM);
                color: white;
                padding: 0 5px;
                border-radius: 50px;
                /*border: 2px solid var(--roseBRGM);*/

                input[type="checkbox"] {
                    appearance: none;
                    -webkit-appearance: none;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    /*border: 1px solid var(--roseBRGM);*/
                    background: white;
                    cursor: pointer;
                    position: relative;
                    outline: none;
                }

                input[type="checkbox"]:checked {
                    box-shadow: inset 0 0 0 1px white;
                }

                input[type="checkbox"]::after {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    margin: 3px auto;
                    border-radius: 50%;
                    background: white;
                    opacity: 0;
                    transition: opacity 0.2s;
                }
            }
        }

        input[type="datetime-local"] {
            width: fit-content;
            padding: 3px 5px;
            border-radius: 0;
            border: 1px solid var(--grisBRGM);
            background-color: #D9D9D9;
            color: var(--grisBRGM);
            font-size: 0.9em;
            font-family: "Consolas", "sans-serif";
            margin: 0 auto;
        }

        input[type="datetime-local"]::-webkit-calendar-picker-indicator {
            cursor: pointer;
        }

        .multiple {
            display: flex;
            justify-content: space-between;
            gap: 15px;
            width: fit-content;
            margin: 0 auto;
            height: 55px;
            overflow: hidden;

            div:not(.bouton) {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
            }

            .bouton {
                height: fit-content;
                padding: 6px 15px;
            }

            .separator {
                height: 100px;
                display: block;
                border-left: 1px solid var(--grisBRGM);
            }
        }

        .trac {
            height: fit-content;
        }

        .wrap-dates {
            display: flex;
            align-items: center;
            gap: 5px;

            span.bouton {
                font-size: 0.8em;
                width: fit-content;
                padding: 5px;
            }
        }

        .wrap-toogle {
            display: flex;
            align-items: center;
            gap: 8px;

            .p-toggleswitch {
                --toggle-bg: var(--grisBRGM);
                --toggle-checked-bg: var(--orangeBRGM);
                --toggle-slider: var(--roseBRGM);
                width: 48px;
                height: 20px;
            }

            .p-toggleswitch-slider {
                background: var(--toggle-bg);
                border-radius: 24px;
                transition: background 0.3s;
            }

            .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
                background: var(--toggle-checked-bg);
            }

            .p-toggleswitch-slider:before {
                background: var(--toggle-slider);
                border-radius: 50%;
                width: 20px;
                height: 20px;
                left: 2px;
                top: 2px;
            }

            .p-toggleswitch-slider:hover {
                background: var(--toggle-bg) !important;
                box-shadow: none !important;
                filter: none !important;
            }
        }

        .wrap-status {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 5px 0;
            min-height: 190px;

            img {
                width: 40px;
            }

            b {
                font-size: 1em;
                text-align: center;
            }
        }
    }

    .card.main {
        max-height: 360px;
        overflow-y: auto;
        min-height: 340px;
    }

    .card.main::-webkit-scrollbar {
        width: 8px;
    }

    .card.main::-webkit-scrollbar-thumb {
        background-color: var(--orangeBRGM);
        border-radius: 10px;
    }

    .card.main::-webkit-scrollbar-track {
        background-color: var(--grisBRGM);
        border-radius: 10px;
    }

    .card.main::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    .anomalie {
        flex-direction: row;
        align-items: center;
        gap: 10px;

        span {
            font-size: 0.95em;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: row;


        .action {
            width: 40px;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            background-color: var(--orangeBRGM);

            &:hover {
                background-color: var(--grisBRGM);
            }
        }

        .unselected {
            background-color: var(--grisBRGM) !important;
        }
    }
}

.splide__pagination__page.is-active {
    background: var(--orangeBRGM);
    opacity: 1;
}

.splide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 1;
    font-size: 0.9em;
    padding: 5px 2px;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    background: var(--orangeBRGM);
    height: fit-content;
    width: fit-content;
    transition: background-color 0.4s;

    svg {
        fill: white;
    }
}

.splide__arrow--prev {
    left: 5px;
}

.splide__arrow--next {
    right: 5px;
}

.splide__track {
    width: 100% !important;
    height: 100%;
}



@media (min-height: 900px) {
    .carousel {

        .card {
            font-size: 1em;
            padding: 10px;
            gap: 20px;

            .bouton {
                font-size: 1em;
            }

            b {
                font-size: 1.1em;
            }

            .spacer {
                height: 20px;
            }
        }

        .card.main {
            overflow-y: visible;
            max-height: 100%;
            min-height: 500px;
        }
    }
}