.cookies {
    width: 100%;
    padding: 50px 60px 50px 30px;
    display: flex;
    flex-direction: column;
}

.cookies > .titreBarre {
    margin: 50px 0 10px 0;
    color: var(--grisBRGM);
}

.cookies > h2 {
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.5em;
    line-height: 1.6;
    color: #878787;
    font-weight: normal;
}

.cookies > h3 {
    font-size: 1.7em;
    margin-bottom: 0;
    margin-top: 50px;
    color: var(--grisBRGM);
}

.cookies > h4 {
    font-size: 1.5em;
    margin-bottom: 0;
    color: var(--grisBRGM);
}

.cookies > .boutonFonce {
    text-decoration: none;
    border: 5px solid var(--orangeBRGM);
    background-color: var(--orangeBRGM);
    color: white;
    width: 200px;
    margin-bottom: 30px;
}

.cookies > .boutonClair {
    text-decoration: none;
    width: 200px;
    border: 5px solid transparent;
    box-shadow: 0 0 0 1px black;
}

.cookies > .boutonClair:hover {
    box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
}

.cookies {
    ul {
        font-size: 1.2em;
    }

    p {
        font-size: 1.2em;
        line-height: 1.2em;
    }

    .multiple {
        display: flex;
        gap: 20px;

        .bouton {
            width: 200px;
        }
    }
}


@media (max-width: 750px) {
    .cookies {
        padding: 20px;

        .multiple {
            flex-direction: column;
            gap: 10px;
            margin: 0 auto;

            .bouton {
                width: 200px;
            }
        }
    }
}