html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/*
* Réalisé par Thomas LOYE pour le compte du BRGM en 2025
* www.thomasloye.fr
*/

hr {
    margin: 60px 0;
}

h3 {
    margin-top: 50px;
}

.custom-block {
    margin: 20px 0;
    padding: 15px 20px;
    border-left: 5px solid;
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 1px solid transparent;
    color: #4a4a4a;

    p {
        margin: 0;
    }

    &.info {
        background-color: #ebf5ff;
    }

    &.warning {
        background-color: #fff8e1;
    }

    &.important {
        background-color: #ffebee;
    }
}

.custom-block-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

details {
    background-color: #eaeaea;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
    user-select: none;

    summary {
        font-weight: bold;
        cursor: pointer;
        padding: 5px 0;
        outline: none;
        color: #4e4e4e;
        font-size: 0.9em;
    }

    p {
        margin-top: 10px;
        padding-left: 10px;
        color: #555;
        font-size: 0.95em;
    }
}

a {
    color: var(--orangeBRGM);
}

.iframe {
    h1, h2, h3, h4, h5, h6 {
        color: var(--grisBRGM);
        font-family: gibson-semibold;
        font-weight: 400;
    }
}

.documentation-layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    position: relative;

    .main-column-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .left-sidebar {
        flex: 0 0 300px;
        background-color: #f0f0f0;
        padding: 15px;
        border-radius: 0;
        position: sticky;
        top: 0;
        align-self: flex-start;
        height: 100vh;
        overflow-y: auto;

        ul {
            list-style: none;
            padding: 0;

            li.page-item {
                border-bottom: 1px solid #e0e0e0;
                padding-bottom: 8px;
                margin-bottom: 8px;

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }

            a {
                display: block;
                padding: 5px 15px;
                color: #333;
                text-decoration: none;

                &:hover {
                    color: var(--orangeBRGM);
                }

                &.router-link-active {
                    font-weight: bold;
                    color: var(--orangeBRGM);
                }
            }
        }

        .subsections {
            list-style: none;
            padding-left: 20px;
            margin-top: 5px;
            margin-bottom: 10px;

            li a {
                padding: 3px 0;
                font-size: 0.9em;
                color: #555;

                &:hover {
                    color: var(--orangeBRGM);
                }
            }
        }
    }

    .page-item {
        font-weight: bold;
    }

    .main-content {
        flex-grow: 1;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 20px 50px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        ol, ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .right-sidebar {
        flex: 0 0 300px;
        background-color: rgba(255, 255, 255, 1);
        padding: 15px;
        border-radius: 0;
        position: sticky;
        top: 0;
        align-self: flex-start;
        height: 100vh;
        overflow-y: hidden;

        .active-line-container {
            position: relative;
            height: 100%;
        }

        .active-line {
            position: absolute;
            left: -0.9px;
            width: 4px;
            border-radius: 2px;
            background-color: var(--orangeBRGM);
            transition: top 0.3s ease, height 0.3s ease;
            z-index: 1;
        }

        ul {
            list-style: none;
            padding: 0;
            padding-left: 15px;
            border-left: 2px solid #cacaca;
        }

        li a {
            display: block;
            padding: 5px 0;
            color: #333;
            text-decoration: none;
            position: relative;

            &:hover {
                color: var(--orangeBRGM);
            }

            &.active-heading {
                font-weight: bold;
                color: var(--grisBRGM);
            }
        }
    }

    @media (min-width: 1600px) {
        .left-sidebar {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
        }

        .right-sidebar {
            flex-grow: 1;
            display: flex;
            justify-content: flex-start;
        }

        .sidebar-content-wrapper {
            width: 300px;
        }

        .main-content {
            flex-grow: 0;
            flex-shrink: 0;
            width: 1000px;
        }
    }

    @media (max-width: 1080px) {

        .right-sidebar {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            width: 320px;
            max-width: 90%;
            z-index: 1002;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
            transform: translateX(100%);
            transition: transform 0.3s ease;

            &.is-open {
                transform: translateX(0);
            }
        }

        .main-content {
            margin-top: 50px;
            width: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
        }

        .main-column-wrapper {
            width: 100%;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }

    @media (max-width: 955px) {
        .left-sidebar {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 320px;
            max-width: 90%;
            z-index: 1002;
            background-color: #f0f0f0;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1);
            left: -100%;
            transition: left 0.3s ease;

            &.is-open {
                left: 0;
            }
        }

        .main-content {
            padding-top: 20px;
        }
    }
}


.mobile-header {
    display: none;

    span {
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        color: #67676C;
        padding: 5px 10px;
        font-size: 0.8em;

        img {
            height: 18px;
        }
    }
}


@media (max-width: 1080px) {
    .mobile-header {
        display: flex;
        justify-content: space-between;
        background: #fff;
        padding: 10px;
        z-index: 1000;
        border-bottom: 1px solid #d8d8d8;
        width: 100%;
        box-sizing: border-box;
        position: sticky;
        top: 0;
        flex-basis: 100%;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1001;
    }

    .main-content {
        padding-top: 70px;
    }
}