/*
* Réalisé par Thomas LOYE pour le compte du BRGM en 2025
* www.thomasloye.fr
*/



/* =====================================================================================================================
   GENERAL
   ===================================================================================================================== */

.section-accueil {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 50px;

    img {
        height: 300px;
    }

    div:not(.wrap-boutons) {
        display: flex;
        flex-direction: column;
        gap: 30px;

        * {
            margin: 0;
        }

        h1 {
            font-size: 4.2em;
            color: var(--grisBRGM);
        }

        h2 {
            font-size: 3.5em;
            color: var(--grisBRGM);
        }

        .wrap-boutons {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            align-items: center;

            .bouton {
                width: 200px
            }
        }
    }
}

.section-accueil.reverse {
    flex-direction: row-reverse;
}

.section-accueil.orange {
    background: #ffdfc3;
}

.section-accueil.white {
    background: #fff;
}

.section-accueil.gris {
    background-color: var(--grisBRGM);

    div {
        *:not(.orange) {
            color: white !important;
        }
    }
}

.section-accueil.designed {
    margin-top: 30px;
    margin-bottom: 30px;
    img {
        height: 400px;
    }
}


/* =====================================================================================================================
   BANDEAU PRINCIPAL ACCUEIL
   ===================================================================================================================== */
.main-pres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    padding: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: calc(100vh - 80px);
    margin-bottom: 100px;

    h1 {
        font-size: 3em;
        font-weight: bold;
        color: white;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin: 0;
    }

    .bouton-main {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 15px;
        background: rgba(232, 123, 28, 0.4);
        border: 2px solid rgba(207, 105, 16, 0.6);
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(1px);
        padding: 10px 40px;
        font-size: 1.5em;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background: rgba(232, 123, 28, 0.7);
            border: 2px solid rgba(207, 105, 16, 0.7);
            box-shadow: 0 4px 12px rgba(255, 255, 255, 0.5);
        }
    }

    .wrap-cards {
        display: flex;
        gap: 70px;
        align-items: center;

        .card {
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.3);
            border: 2px solid rgba(255, 255, 255, 0.4);
            box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(5px);
            color: white;
            font-size: 1.2em;
            font-weight: bold;
            gap: 10px;
            width: 300px;
            padding: 15px;
            font-family: 'gibson-semibold', sans-serif;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);


            .color {
                height: 10px;
                width: 60px;
                border-radius: 50px;
            }

            a {
                font-size: 1em;
                font-family: 'gibson-book', sans-serif;
            }
        }

        .card:nth-child(1) {
            .color {
                background-color: var(--vertBRGM);
            }
        }

        .card:nth-child(2) {
            .color {
                background-color: var(--roseBRGM);
            }
        }

        .card:nth-child(3) {
            .color {
                background-color: var(--bleuBRGM);
            }
        }
    }
}


/* =====================================================================================================================
   DEUXIEME SECTION
   ===================================================================================================================== */

.highlights {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 50px;

    h2 {
        font-size: 3.9em;
        color: var(--grisBRGM);
        margin: 0;
    }

    .grid-highlights {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 50px;
        padding-top: 20px;
        justify-content: center;
        align-items: center;


        .hightlight {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            padding: 25px;
            border-radius: 25px;
            border: 2px solid var(--grisFin);
            height: 80%;
            background-color: white;
            flex-shrink: 0;

            * {
                margin: 0;
            }

            img {
                width: 60px;
            }

            .texte-gris-simple {
                font-size: 1.1em;
            }

            h4 {
                font-family: 'gibson-medium', sans-serif;
                font-size: 1.5em !important;
                color: var(--grisBRGM);
            }
        }
    }
}
