/*
* Réalisé par Thomas LOYE pour le compte du BRGM en 2025
* www.thomasloye.fr
*/


.visualisation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 20px 20px 20px 0;
    gap: 30px;

    .wrap-graphique {
        background-color: #ededed;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: calc(100vw - 430px);
        height: 100%;
        padding: 10px 20px 20px 20px;
        position: relative;

        .chargement-calculs {
            position: absolute;
            top: 10px;
            right: 20px;
            width: 30px;
        }
        
        .titre {
            font-size: 1.5em;
            font-weight: bold;
            font-family: gibson-medium, serif;
            color: var(--grisBRGM);
            max-width: 95%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .padding-graphique {
            padding: 15px;
            border-radius: 15px;
            background-color: white;
            max-height: 90%;

            .graphique {
                min-width: auto !important;
                min-height: auto !important;
            }
        }
    }
}